:root {
    --ion-color-primary: #6a0dad; /* Morado */
    --ion-color-secondary: #000000; /* Negro */
    --ion-color-light: #ffffff; /* Blanco */
    --ion-color-dark: #1a1a1a;
    --ion-border-radius: 12px;
  }
  