<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/home">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Carrito de Compras</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="cart-container">
    <div *ngIf="cartItems.length === 0" class="empty-cart">
      <p>Tu carrito está vacío 🛒</p>
    </div>

    <ion-list *ngIf="cartItems.length > 0">
      <div *ngFor="let item of cartItems" class="cart-item">
        
        <div class="cart-thumbnail">
          <img [src]="item.image" />
        </div>

        
        <div class="cart-details">
          <h2>{{ item.title }}</h2>
          <p class="cart-price">\${{ item.price }}</p>
        </div>

        
        <div class="quantity-controls">
          <button class="quantity-btn" (click)="changeQuantity(item, -1)">-</button>
          <ion-input type="number" [(ngModel)]="item.quantity" readonly class="quantity-value"></ion-input>
          <button class="quantity-btn" (click)="changeQuantity(item, 1)">+</button>
        </div>

        
        <button class="delete-btn" (click)="removeItem(item.id)">
          <ion-icon name="trash-outline"></ion-icon>
        </button>
      </div>
    </ion-list>
  </div>
</ion-content>


<ion-footer>
  <div class="cart-summary">
    <p class="cart-total">Total: \${{ total }}</p>
    <button class="checkout-btn" (click)="checkout()">Realizar Pago</button>
  </div>
</ion-footer>
