<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/cart">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Validar Pago</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="checkout-container">
    <h2 class="checkout-title">Información de Pago</h2>

    <ion-list class="checkout-form">
      <ion-item>
        <ion-label position="floating">Nombre Completo</ion-label>
        <ion-input [(ngModel)]="customer.name" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Correo Electrónico</ion-label>
        <ion-input [(ngModel)]="customer.email" type="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Dirección</ion-label>
        <ion-input [(ngModel)]="customer.address" type="text"></ion-input>
      </ion-item>

      <h2 class="checkout-title">Detalles de la Tarjeta</h2>

      <ion-item>
        <ion-label position="floating">Número de Tarjeta</ion-label>
        <ion-input [(ngModel)]="customer.cardNumber" type="tel" pattern="[0-9]*" maxlength="16" inputmode="numeric"></ion-input>
      </ion-item>

      <div class="card-details">
        <ion-item class="half-width">
          <ion-label position="floating">Fecha de Expiración</ion-label>
          <ion-input [(ngModel)]="customer.expiration" type="month"></ion-input>
        </ion-item>

        <ion-item class="half-width">
          <ion-label position="floating">CVV</ion-label>
          <ion-input [(ngModel)]="customer.cvv" type="tel" pattern="[0-9]*" maxlength="4" inputmode="numeric"></ion-input>
        </ion-item>
      </div>
    </ion-list>
  </div>
</ion-content>


<ion-footer>
  <div class="checkout-summary">
    <p class="checkout-total">Total: \${{ cartService.getTotal() }}</p>
    <button class="checkout-btn" (click)="processPayment()">Pagar</button>
  </div>
</ion-footer>
